# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Java build
target/
*.jar
*.war
*.ear

# Logs
logs/
*.log

# Docker
*.tar

# Kubernetes / Helm
*.tgz

# Jenkins
jenkins-workspace/

# Env files
.env
.env.*

# Test reports
test-results/
coverage/
